<div style="max-width: 50%;margin-left: 25%">

<h2 class="page-header" >ALL USER SUMMARY</h2>

{{#each allusers}}
<span><h1>{{this.name}}</span> </h1>
<br>
  {{#each this.photos}}
  <span>{{this.name}}  <img style="max-width: 10%;" src="/Uploads/{{this.src}}"/></span>
  {{/each}}
  <br>
  {{#each this.links}}
  <span><h3>{{this.name}}</h3> </span> <span><p> {{this.link}} </span> </p>
  {{/each}}
{{/each}}
<br>
</div>

<style type="text/css">
  span{
    margin-right: 7%;
  }
</style>
